<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" >
        <form method="POST" action="/auth/signup" >
        <div class="form-group">
            <label for="name">Full Name:</label>
        <input type="text" class="form-control" id="name">
        </div>
        
         <div class="form-group">
             <label for="phone_no">Mobile Number</label>
             <input type="number" class="form-control" id="phone_no">
         </div>

          <div class="form-group">
               <label for="school">School Name:</label>
               <input type="text" class="form-control" id="school">
          </div>

           <div class="form-group">
               <label for="email">Email id:</label>
        <input type="email" class="form-control" id="email"> 
           </div>

            <div class="form-group"> 
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username">
            </div>
        
           <div class="form-group">
               <label for="password">Password:</label>
               <input type="text" class="form-control" id="password">
           </div>
        
         <button type="submit" class="btn btn-primary mt-5 mr-sm-2" >Submit</button>

        </form>
    </div>

    <form method="POST" action="signup">
        <input type="text" placeholder="Full Name" name="name">
        <input type="text" placeholder="Phone Number" name="phone_no">   
        <input type="text" placeholder="School" name="school"> 
        <input type="text" placeholder="Email Id" name="email"> 
        
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="password" name="password">
        <input type="submit">
    </form>
    
</body>
</html>